/*--------------------footer--------------------*/
.site-footer {
    padding: 4.7em  0;
}
.site-info {
    font-size: .9em;
}
.post-list article {
    border-bottom: 1px solid #DDD;
    padding-bottom: 50px;
    margin-bottom: 50px;
    &:last-child{
        margin-bottom:0;
    }
}
ul.footer-social{
    position: relative;
    padding-bottom: 1.3em;
    &:before{
        content: "";
        position: absolute;
        margin: 0 auto;
        width: 5em;
        height: .17em;
        background-color: #eee;
        border-radius: 1em;
        bottom: 0;
        left: 0;
        right: 0;       
    }
    &:after{
        content: "o";
        position: absolute;
        font-size: 1.5em;
        color: $primary__color;
        bottom: -0.37em;
        right: 0;
        left: 0;
        margin: 0 auto;
       background-color: #fff;
        height: 1em;
        width: 1em;
        display: flex;
        align-items: center;
        justify-content: center;        
    }
     li {
    display: inline-block;
    }
    a{   
    padding: .5em;
            color: #000;
    position: relative;
    font-size: 1.4em;
        &:hover{
    color: $secondary__color;
        }
    }
}