@media(min-width:1920px) and (max-width: 2047px){
	.container{
		max-width: 82vw !important;
	}
	.row{
	margin-left: -1em;
	margin-right: -1em;
	}
	.container, .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col, .col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm, .col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md, .col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg, .col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl, .col-xl-auto{
		padding-left: 1em;
		padding-right: 1em;
	}
	.custom-logo-link{
		width: 100%;
	}
	
	.service-item {
    margin-bottom: 2em;
	}
	.entry-category a{
		font-size: .9em;
	}	
	body{
		font-size: 1.12vw !important;
	}
}
@media(min-width: 2048px){
	 body {
    font-size: 1.12vw !important;
  }
  .container {
    max-width: 80vw !important;
  }
  .row {
    margin-left: -1vw;
    margin-right: -1vw;
  }
  .container, .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col, .col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm, .col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md, .col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg, .col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl, .col-xl-auto {
    padding-left: 1vw;
    padding-right: 1vw;
  }
  .custom-logo-link {
    width: 100%;
  }
  .site-logo.is-hidden.slide-in {
    top: auto;
    left: 0;
  }
  .animate_btn.is-hidden.slide-in {
    right: 0;
    top: auto;
  }
  .card .card-icon {
    width: 4vw;
  }
  .service-item {
    margin-bottom: 2vw;
  }
  .form-content .form-control {
    height: 3.5vw;
  }
  .testimonial .media img {
    max-width: 13vw;
  }
  .entry-category a {
    font-size: .9vw;
  }
}

@media(min-width:1920px){
  .site-menu ul li a {
    padding: 1.4vw 0.5vw; 
  }
  .burger {
    padding: 7em 0;
  }
}
