// Background-Colors
$color__background-button: #00d664;
$color__background-dark : #F2F2F2;
$color__background-light: #F9FAFB;


// Text-Colors
$color__text-main: #404040;
$color__banner-text : #fff;
$color__border: #DDD;
$social_hover: #e47203;

//custom Variables 
$primary__color: #00d664; 
$secondary__color:  #0085a1;
$muted__text: #999;
$color__section-heading: #0085a1;
$color__button: #fff;
$color__anchor: #337ab7; 
$color__testimonial-bg: #F9FAFB;

// Font-Family
$font__code: 'Work Sans', sans-serif;
$font__main: 'Poppins', sans-serif;
$font__line-height-body: 1.5;
$font__line-height-pre: 1.6;

// Section top-bottom Space Desktop: 5X, Mobile 3X  
$spacer:20px;